<div class="container">
    <div class="carousel-wrapper">
        <div class="boxes">
            <div class="box show">
                <img src="../assets//images/preloadimg_01.png">
            </div>
            <div class="box">
                <img src="../assets//images/preloadimg_02.png">
            </div>
            <div class="box">
                <img src="../assets//images/preloadimg_03.png">
            </div>
        </div>
        <div class="text">
            Kami sedang mengecek data anda, silahkan menunggu ...
        </div>
    </div>
    <button (click)="btnNext()" hidden>next</button>
</div>